Repository nextcloud/deck, pull requests merged in 2019-08, with the labels that each got.

#1173 Open card sidebar
  src/components/Controls.vue
  src/components/cards/CardItem.vue
Labels: 4. to release

#1174 tags repair
  src/components/board/TagsTabSidebard.vue
Labels: 2. developing

#1182 Able to set description on creation card via API.
  lib/Controller/CardApiController.php
  lib/Service/CardService.php
Labels: 4. to release, enhancement, feature: api

#1175 changed time calculation
  src/components/card/CardSidebar.vue
  src/components/cards/CardBadges.vue
Labels: 2. developing, enhancement, vue-migration

#1188 members are shown now
  src/components/boards/BoardItem.vue
  src/helpers/boardToMenuItem.js
  src/store/main.js
Labels: 4. to release

#1196 Add date format to If-Modified-Since documentation
  docs/API.md
Labels: 2. developing, docs

#1192 Fix desc field
  src/components/card/CardSidebar.vue
Labels: 2. developing, vue-migration

#1189 Board and Card Timeline
  src/components/ActivityEntry.vue
  src/components/board/TimelineTabSidebard.vue
  src/components/card/CardSidebar.vue
  src/router.js
  src/store/main.js
  templates/main.php
Labels: 3. to review, vue-migration

#1210 label multi shows color, sharing shows avatars
  src/components/board/SharingTabSidebard.vue
  src/components/card/CardSidebar.vue
Labels: 4. to release
