Repository nextcloud/deck, pull requests merged in 2021-10, with the labels that each got.

#3343 Fix search pagination cursor
  lib/Search/DeckProvider.php
Labels: bug, 3. to review, backport-request, feature: search

#3326 add autofocus on board edit
  src/components/navigation/AppNavigationBoard.vue
Labels: bug, 4. to release

#3359 [stable1.4] Rich object string parameters for notifications
  lib/Notification/Notifier.php
  tests/unit/Notification/NotifierTest.php
Labels: 3. to review

#3344 Improve combined search
  lib/Search/DeckProvider.php
  lib/Service/SearchService.php
Labels: enhancement, 3. to review, backport-request, feature: search

#3323 Extend drag-and-drop zone in card sidebar
  src/components/AttachmentDragAndDrop.vue
  src/components/card/CardSidebar.vue
Labels: bug, 4. to release, backport-request

#3361 [stable22] Improve combined search
  lib/Search/DeckProvider.php
  lib/Service/SearchService.php
Labels: bug, 3. to review, feature: search

#3360 [stable1.4] Improve combined search
  lib/Search/DeckProvider.php
  lib/Service/SearchService.php
Labels: bug, 3. to review, feature: search

#3362 Improve search performance
  lib/Db/BoardMapper.php
  lib/Service/BoardService.php
  lib/Service/FullTextSearchService.php
  lib/Service/SearchService.php
Labels: enhancement, 3. to review, php, feature: search

#3327 Do not show both bullets and checkboxes for checklists
  src/css/markdown.scss
Labels: design, 4. to release

#3364 Fix optional parameter order
  lib/Controller/CommentsApiController.php
Labels: bug, 3. to review, backport-request
